<div id="formContainer">
    <div id="formArea">
        <form action="/api/profile" method = "POST">
        <label for="Name">Name:</label>
            <input id="profilename" type="text"  name="name"><br>
        <label for="proImage">Profile Image:</label><br>
             <input id="fileInput"  type="file"
       accept="image/png, image/jpeg">
       <input id= "linkName" name = "image" type="text">
       <input id= "UserId" name = "UserId" type="text">
        <label for="location">Location:</label>
            <input type="text" name="location"><br>
        <label for="briefBio">Brief Bio:</label>
           <textarea name="bio" id="briefBio"></textarea>
        <label for="YTLinks">YouTube Link:</label>
           <textarea name="YouTubeLinks" id="YTLinks"></textarea>
        <label for="start">Instrument:</label>
            <p>
            <label>
                <input name="instrument" type="checkbox" value="guitar" />
                <span>Guitar</span>
            </label>
            <label>
                <input name="instrument" type="checkbox" value="Bass"  />
                <span>Bass</span>
            </label>
            <label>
                <input name="instrument" type="checkbox" value="Keys" />
                <span>Keys</span>
            </label>
            <label>
                <input name="instrument" type="checkbox" value="Drums"  />
                <span>Drums</span>
            </label>
            <label>
                <input name="instrument" type="checkbox" value="Other"  />
                <span>Other</span>
            </label>
        </p>
        <input type="submit" value="Submit">

        </form>
    </div>
</div>
<script src="/js/profile.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems3 = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems3);
    });
</script>