.list-group-item {
  line-height: 2.5;
}
body{
  margin: 0;
  padding: 0;
  background-color: #485b7a;
}
h2, h3, h4, h5, h6, .brand-logo {
  font-family: 'Arvo', serif;
}
.mainContent{
  position: relative;
  display: flex;
  width: 100%;
  justify-content:space-between;

}

#profileWrapper{
position: relative;
display: flex;
/* border-right: 1px solid black; */
text-align: center;
flex-flow: column;
flex-basis: 25%;
}
#profileArea{
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  background: white;
  top: -1px;
display: flex;

/* border-right: 1px solid black; */
text-align: center;
flex-flow: column;
color: white;
background-color: #485b7a;

}

#postArea,
#gigArea{
  position: relative;
  border-left: 1px solid lightgray;
  display: flex;
text-align: center;
flex-flow: column;
flex-basis: 37.5%;
background-color: #bdc7d9;
}
.brand-logo {
  margin-left: 20px;
  text-shadow: black;
}

nav {
  background-color: #2a303b;
}
.btn, .btn-large, .btn-small {
  color: #6199ff;
  background-color: #2a303b;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  color: #2a303b;;
  background-color: #6199ff ;
}

#profilePic{
  width:150px;
  border-radius: 100%;
  margin: 0 auto;
}
.stats{
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
}
.stats > h5, h6, .star, a{
  margin: 0 5px;
  padding: 10px 0;
}
.star{
  color: gold;
}
.profileButtons{
  margin: 50px 5px 50px;
}
.profileButtons > a{
  border-radius: 15px;
}
#gigContent{
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  background: white;
  top: 180px;
  width: 90%;
  margin: 0px auto 0;


}
#gigHeader{
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  background: white;
  top: -1px;
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  flex-flow: column;
  justify-content: flex-start;
  border-bottom: 1px solid lightgray;

}
#gigHeader > a {
  width: 170px;
  margin: 10px 0 10px 5%;
  border-radius: 15px

}
#formContainer{
  position: relative;
  margin: 15px auto 0;
  width: 60%;

}
#instruments{
  width: 100%;
}
.postContainer{
  width: 100%;
  border-bottom: 1px solid lightgray;
}
#talentWrapper{
  position: relative;
  width: 80%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow: scroll;
  height: 80vh;
  margin: 20px auto;
  justify-content: space-evenly;
  border: 1px solid lightgray;

}

.card{
  position: relative;
  width: 25%;
  height:auto;


}
.card-image{
  position: relative;
  width:100%;
  
  
}
.card-content{
  text-align: center;
}
.card-image >img{
  width: 100%;
  max-height: 280px;

}

#linkName,
#UserId{
  display:none;
}