<div class="postContainer">
	<h5>{{dataValues.Status}}</h5>
    <a href="#" value={{dataValues.GigsId}} > View Gig</a>
    <button class="btn waves-effect waves-light" value={{dataValues.UserId}}>View Profile</button>
</div>